.nav{
    background-color: green;
    height: 100vh;
}

.sensor{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .num-sensor{
        width: 50%;
        margin: auto 0;
        // font-size: medium;
    }

    .number{
        width: 40px;
        height: 30px;
        margin: auto 0;
        border: 1px solid black;
        border-radius: 20%;
        text-align: center;
    }
}